Repository loowps/cmajor-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.{js,json,css,scss,md,ts,html,component.html}": ["prettier --write"],
  "*.{js,ts,html,component.html}": ["eslint"]
}

Add parameter service and extract handling
  README.md
  package.json
  src/app/layout/about-view/about-view.component.spec.ts
  src/app/layout/parameter-view/parameter-view.component.html
  src/app/layout/parameter-view/parameter-view.component.spec.ts
  src/app/layout/parameter-view/parameter-view.component.ts
  src/app/layout/toolbar/toolbar.component.html
  src/app/layout/toolbar/toolbar.component.scss
  src/app/services/parameter.service.spec.ts
  src/app/services/parameter.service.ts
  src/app/services/patch-connection.service.spec.ts
  src/app/services/patch-connection.service.ts
Due: prettier --write, eslint

Simplify cmajor patch
  README.md
  src/app/components/knob/knob.component.ts
  src/app/services/patch-connection-endpoints.enum.ts
  src/cmajor/gain.cmajor
  src/cmajor/gain.cmajorpatch
Due: prettier --write, eslint

Change patch connection to optional
  src/app/services/patch-connection.service.ts
Due: prettier --write, eslint

Add slight knob gradient fill and drop-shadow
  src/app/components/knob/knob.component.html
  src/app/components/knob/knob.component.scss
Due: prettier --write, eslint

Update readme
  README.md
Due: prettier --write

Add run configs
  .run/build patch.run.xml
  .run/dev patch.run.xml
  .run/dev ui only.run.xml
  .run/lint.run.xml
  .run/prettier_check.run.xml
  .run/test_coverage.run.xml
Due: none

Update screenshot
  screenshot.png
Due: none

Preliminary adapt to cmaj v0.9.2006
  README.md
  setup-jest.ts
  src/app/layout/parameter-view/parameter-view.component.spec.ts
  src/app/layout/parameter-view/parameter-view.component.ts
  src/app/services/parameter.service.spec.ts
  src/app/services/parameter.service.ts
  src/app/services/patch-connection.model.ts
  src/app/services/patch-connection.service.spec.ts
  src/app/services/patch-connection.service.ts
Due: prettier --write, eslint

Replace arrow function definitions in patch connection model
  src/app/services/patch-connection.model.ts
Due: prettier --write, eslint

Replace callback setter with paramter listener
  src/app/layout/parameter-view/parameter-view.component.spec.ts
  src/app/layout/parameter-view/parameter-view.component.ts
  src/app/services/parameter.service.spec.ts
  src/app/services/parameter.service.ts
  src/app/services/patch-connection.model.ts
  src/app/services/patch-connection.service.spec.ts
  src/app/services/patch-connection.service.ts
Due: prettier --write, eslint

Adapt to cmajor v0.9.2006
  README.md
  setup-jest.ts
  src/app/layout/parameter-view/parameter-view.component.spec.ts
  src/app/layout/parameter-view/parameter-view.component.ts
  src/app/services/parameter.service.spec.ts
  src/app/services/parameter.service.ts
  src/app/services/patch-connection.model.ts
  src/app/services/patch-connection.service.spec.ts
  src/app/services/patch-connection.service.ts
Due: prettier --write, eslint

Add minor transitions
  src/app/layout/about-view/about-view.component.html
  src/app/layout/toolbar/toolbar.component.scss
  src/styles.scss
Due: prettier --write, eslint

Add simple css transitions
  src/app/layout/about-view/about-view.component.html
  src/app/layout/toolbar/toolbar.component.scss
  src/styles.scss
Due: prettier --write, eslint

Replace iframe with angular elements web component
  .run/build.run.xml
  .run/dev.run.xml
  .run/prettier.run.xml
  angular.json
  package-lock.json
  package.json
  src/app/app.component.scss
  src/app/app.component.ts
  src/cmajor/gain.cmajorpatch
  src/cmajor/index.js
  src/index.html
  src/main.ts
  src/styles.scss
Due: prettier --write, eslint

Remove dev server script
  .run/dev.run.xml
  package.json
Due: prettier --write

Update dependencies
  package-lock.json
  package.json
Due: prettier --write

Replace iframe with angular-elements web component output
  .run/build.run.xml
  .run/dev.run.xml
  .run/prettier.run.xml
  README.md
  angular.json
  package-lock.json
  package.json
  src/app/app.component.scss
  src/app/app.component.ts
  src/cmajor/gain.cmajorpatch
  src/cmajor/index.js
  src/index.html
  src/main.ts
  src/styles.scss
Due: prettier --write, eslint

Update to angular v16
  .eslintrc.json
  angular.json
  package-lock.json
  package.json
  setup-jest.ts
  src/app/layout/parameter-view/parameter-view.component.spec.ts
Due: prettier --write, eslint

Run prettier
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/layout/toolbar/toolbar.component.scss
Due: prettier --write, eslint

Update to angular v16
  .eslintrc.json
  angular.json
  package-lock.json
  package.json
  setup-jest.ts
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/layout/parameter-view/parameter-view.component.spec.ts
  src/app/layout/toolbar/toolbar.component.scss
Due: prettier --write, eslint

Update readme (cmaj version)
  README.md
Due: prettier --write

Update dependencies and switch to pnpm
  angular.json
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update dependencies
  angular.json
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update to Angular v17 and verify with cmajor v0.9.2233
  README.md
  angular.json
  package.json
  pnpm-lock.yaml
  screenshot.png
  src/app/layout/toolbar/toolbar.component.html
Due: prettier --write, eslint

Update to Angular v17
  README.md
  angular.json
  package.json
  pnpm-lock.yaml
  screenshot.png
  src/app/layout/toolbar/toolbar.component.html
Due: prettier --write, eslint

Update dependencies
  .husky/pre-commit
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

Replace animations with view transitions
  package.json
  pnpm-lock.yaml
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/layout/toolbar/toolbar.component.html
  src/app/layout/toolbar/toolbar.component.ts
  src/app/shared/animations/slide-in-animation.ts
  src/main.ts
Due: prettier --write, eslint

Update dependencies and readme
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update dependencies
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

Replace knob with slider and use angular signals
  CHANGELOG.md
  README.md
  package.json
  pnpm-lock.yaml
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/components/knob/knob.component.html
  src/app/components/knob/knob.component.scss
  src/app/components/knob/knob.component.ts
  src/app/components/slider/slider.component.html
  src/app/components/slider/slider.component.scss
  src/app/components/slider/slider.component.spec.ts
  src/app/components/slider/slider.component.ts
  src/app/layout/about-view/about-view.component.scss
  src/app/layout/parameter-view/parameter-view.component.html
  src/app/layout/parameter-view/parameter-view.component.scss
  src/app/layout/parameter-view/parameter-view.component.spec.ts
  src/app/layout/parameter-view/parameter-view.component.ts
  src/app/layout/top-bar/top-bar.component.html
  src/app/layout/top-bar/top-bar.component.scss
  src/app/layout/top-bar/top-bar.component.spec.ts
  src/app/layout/top-bar/top-bar.component.ts
  src/app/services/parameter.service.spec.ts
  src/app/services/parameter.service.ts
  src/app/services/patch-connection.service.spec.ts
  src/app/services/patch-connection.service.ts
  src/main.ts
  tsconfig.json
Due: prettier --write, eslint

Use angular signals
  CHANGELOG.md
  README.md
  package.json
  pnpm-lock.yaml
  screenshot.png
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/components/knob/knob.component.html
  src/app/components/knob/knob.component.scss
  src/app/components/knob/knob.component.ts
  src/app/components/slider/slider.component.html
  src/app/components/slider/slider.component.scss
  src/app/components/slider/slider.component.spec.ts
  src/app/components/slider/slider.component.ts
  src/app/layout/about-view/about-view.component.scss
  src/app/layout/parameter-view/parameter-view.component.html
  src/app/layout/parameter-view/parameter-view.component.scss
  src/app/layout/parameter-view/parameter-view.component.spec.ts
  src/app/layout/parameter-view/parameter-view.component.ts
  src/app/layout/top-bar/top-bar.component.html
  src/app/layout/top-bar/top-bar.component.scss
  src/app/layout/top-bar/top-bar.component.spec.ts
  src/app/layout/top-bar/top-bar.component.ts
  src/app/services/parameter.service.spec.ts
  src/app/services/parameter.service.ts
  src/app/services/patch-connection.service.spec.ts
  src/app/services/patch-connection.service.ts
  src/main.ts
  tsconfig.json
Due: prettier --write, eslint

Update @angular-builders/jest
  package.json
  pnpm-lock.yaml
Due: prettier --write
